* {
    box-sizing:border-box; 
}

body {
    background-image: url(../img/3397005.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    height: 100vh;
    font-size: 0.8rem;
}

#navbar {
    margin-left: 100px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fa-microsoft {
    font-size: 1.2rem;
}

.nav-block {
    padding:0;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-block li {
    margin: 20px;
}

#nav-1 {
    margin-left: 20px;
}

#nav-2, #nav-3 {
    color:white;
}

.fa-brands {
    margin-right: 10px;
}

#nav-1 p {
    font-size: 1.2rem;
    color: white;
}


li {
    text-decoration: none;
    list-style: none;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fa-microphone, .fa-camera, .fa-keyboard, .fa-magnifying-glass {
    color:rgb(0, 111, 156);
    font-size: 1.1rem;
}

.input-container{
    margin-top: 100px;
    width: 40vw;
    height: 45px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    background-color: white;
   

}

input {
    all: unset;
    background-color: white;
    width: inherit;
    height: inherit;
    border-radius: 50px;
    
}

.fa-solid, .fa-regular {
    margin: 0 10px;
}


.slide-container {
    width: 80vw;
    height: 30vh;
    margin-top: 250px;
}

.top-slide-container, .bottom-slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
}

.top-slide-container div p, button {
    height: 40px;
}
button {
    background-color: rgba(36, 36, 36, 0.7);
    border: none;
    border-radius: 10px;
}
.top-slide-container div {
    display: flex;
    align-items: center;
    
}

.top-slide-container div p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    background-color: rgba(36, 36, 36, 0.7);
    border-radius: 5px;
}

#button-right-arrow {
    margin-left: 5px;
}

.top-slide-container {
    margin-bottom: 10px;
}

.top-slide-container div p i, button {
    color:#ffffff;
}


.slide-box {
    height: 120px;
    width: 180px;
    text-decoration: none;
    color:#ffffff;
    
}

.image-title {
    height: 40px;
    background-color: rgba(36, 36, 36, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.image {
    height: 80px;
    background-size:cover;
    background-repeat: no-repeat;
}

#slide-1{
    background-image: url(../img/slide1.JPG); 
}
#slide-2{
    background-image: url(../img/slide2.jpg); 
}
#slide-3{
    background-image: url(../img/slide3.jpg); 
}
#slide-4{
    background-image: url(../img/slide4.JPG); 
}
#slide-5{
    background-image: url(../img/slide5.JPG); 
}
#slide-6{
    background-image: url(../img/slide6.JPG); 
}


